:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196F3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #F5F4FA;
  --accent-bg-color: #2F303A;
  --header-logo-color: #000000;
  --footer-logo-color: #ffffff;
  --footer-address-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --btn-text-color: #ffffff;
  --hero-title-text-color: #FFFFFF;
  --icons-color: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  section {
    max-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.images {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn, .social__link, .checkbox__text, .checkbox__text span, .contacts__link, .gallery__subtitle, .clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn {
  margin: auto;
  min-width: 200px;
  height: 50px;
  justify-content: center;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border: none;
}

.btn--inverse {
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.btn--inverse:hover, .btn--inverse:focus, .btn--inverse:active {
  color: var(--accent-text-color);
  background-color: var(--btn-text-color);
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.logo--dark-part {
  color: var(--header-logo-color);
}

.logo--light-part {
  color: var(--footer-logo-color);
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.section__subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  color: var(--icons-color);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-bg-color);
}

.social__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--btn-text-color);
  transition: background-color 250ms var(--timing-function);
}

.social__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 450ms, visibility 350ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 400ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  cursor: pointer;
  transition: fill 250ms var(--timing-function);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  color: var(--accent-text-color);
}

.modal__close-icon {
  position: absolute;
  fill: currentColor;
  transform: translate(-50%, -50%);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms var(--timing-function);
}

.modal__input:focus {
  border-color: var(--accent-text-color);
}

.modal__input:focus + .input__icon {
  fill: var(--accent-text-color);
}

.modal__input-wrap {
  position: relative;
}

.input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.modal__comment {
  padding: 12px 16px;
  width: 100%;
  height: 118px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
}

.modal__comment:focus {
  border-color: var(--accent-text-color);
}

.modal__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__btn {
  transition: box-shadow 250ms var(--timing-function);
}

.modal__btn:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.checkbox__text {
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.checkbox:checked + .checkbox__text .checkbox__icon {
  fill: var(--btn-text-color);
}

.checkbox__link {
  color: var(--accent-text-color);
}

.checkbox__text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox:checked + .checkbox__text span {
  border: none;
  background-color: var(--accent-text-color);
}

.checkbox:focus + .checkbox__text span {
  border-color: var(--accent-text-color);
}

.checkbox__icon {
  fill: transparent;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.navigation__list {
  display: flex;
}

.navigation__link {
  position: relative;
  padding: 32px 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.navigation__link::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}

.navigation__link:hover::after,
.navigation-link:focus::after {
  opacity: 1;
}

.navigation__link--current {
  color: var(--accent-text-color);
}

.navigation__link .navigation__link--current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
  opacity: 1;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__item:hover,
.navigation__item:focus {
  color: var(--accent-text-color);
}

.contacts__list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms var(--timing-function);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}

.contacts__text {
  margin-left: 10px;
}

.contacts__icons {
  fill: currentColor;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--accent-bg-color);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
}

.hero__title {
  max-width: 696px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-text-color);
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features__item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__icon--antenna::before {
  background-image: url(../images/features/antenna.svg);
}

.features__icon--clock::before {
  background-image: url(../images/features/clock.svg);
}

.features__icon--diagram::before {
  background-image: url(../images/features/diagram.svg);
}

.features__icon--astronaut::before {
  background-image: url(../images/features/astronaut.svg);
}

.features__subtitle {
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: start;
  }
}

.features__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.gallery {
  padding-top: 0;
}

.gallery__list {
  display: flex;
  margin-left: -30px;
}

.gallery__item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.gallery__subtitle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  color: var(--btn-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team-cards {
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 768px) {
  .team-cards__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-cards__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-bg-color);
}

@media screen and (min-width: 768px) {
  .team-cards__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-cards__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-cards__item:not(:last-child) {
  margin-bottom: 30px;
}

.team-cards__info {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team-cards__info {
    padding-bottom: 30px;
  }
}

.team-cards__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-cards__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.clients__list {
  display: flex;
  margin-left: -30px;
}

.clients__item {
  display: flex;
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
  transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-bg-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
  line-height: 1.71;
  max-width: 231px;
}

.address__list {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--footer-address-color);
}

.address__contacts {
  color: var(--footer-contacts-color);
  transition: color 250ms var(--timing-function);
}

.address__contacts:hover, .address__contacts:focus {
  color: var(--accent-text-color);
}

.footer__social {
  display: block;
  margin-left: 70px;
}

.footer__subtitle {
  margin-bottom: 20px;
  color: var(--footer-address-color);
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.subscribe__wrap {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--footer-address-color);
  background-color: var(--accent-bg-color);
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--btn-text-color);
}

.filters__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  transition: box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.filters__btn:hover, .filters__btn:focus {
  color: var(--btn-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-cards__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.project-cards__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background: var(--primary-bg-color);
}

.project-cards__item:hover .project-cards--covertext {
  transform: translateY(0);
}

.project-cards--covertext {
  position: absolute;
  height: 100%;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--btn-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
}

.project-cards__link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}

.project-cards__link:hover, .project-cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-cards__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project-cards__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.project-cards__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.project-cards__wrap {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */