.features__list {
    display: flex;
    margin-left: -30px;
}

.features__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
        &::before {
            display: block;
            content: '';
            height: 120px;
            margin-bottom: 30px;
            background-color: var(--secondary-bg-color);
            background-repeat: no-repeat;
            background-position: center;
        }
}

.features__icon--antenna::before {
    background-image: url(../images/features/antenna.svg);
}

.features__icon--clock::before {
    background-image: url(../images/features/clock.svg);
}

.features__icon--diagram::before {
    background-image: url(../images/features/diagram.svg);
}

.features__icon--astronaut::before {
    background-image: url(../images/features/astronaut.svg);
}

.features__subtitle {
    margin-bottom: 13px;
}

.features__text {
    line-height: 1.71;
    color: var(--secondary-text-color);
}