.features__list {
    @include media(768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
    
}


.features__item {
    &::before {
        display: block;
        content: '';
        height: 120px;
        margin-bottom: 30px;
        background-color: var(--secondary-bg-color);
        background-repeat: no-repeat;
        background-position: center;
        }
    
        @include media(768px) {
            flex-basis: calc(100% / 2 - 30px);
            margin-left: 30px;
        }

        @include media(1200px) {
            flex-basis: calc(100% / 4 - 30px);
}

.features__item:not(:last-child) {
    margin-bottom: 30px;
}

.features__icon--antenna::before {
    background-image: url(../images/features/antenna.svg);
}

.features__icon--clock::before {
    background-image: url(../images/features/clock.svg);
}

.features__icon--diagram::before {
    background-image: url(../images/features/diagram.svg);
}

.features__icon--astronaut::before {
    background-image: url(../images/features/astronaut.svg);
}

.features__subtitle {
    margin-bottom: 10px;
    text-align: center;
    
    @include media(768px) {
        text-align: start;
    }
}

.features__text {
    line-height: 1.71;
    color: var(--secondary-text-color);
}

