.header {
    border-bottom: 1px solid #ECECEC;
    max-width: 1600px;
    margin: 0 auto;
        .container {
        display: flex;
        width: 100%;
    }
}

.navigation {
    display: flex;
    align-items: center;
}

.header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.navigation__list {
    display: none;

    @include media(768px) {
        display: flex;
    }
    
}

.navigation__link {
    position: relative;
    padding: 32px 0px;
    @include font(500, null, 1.14, 0.02em);
    
    color: var(--primary-text-color);

    &::after {
        content: '';
        position: absolute;

        display: block;
        width: 100%;
        height: 4px;
        bottom: -1px;
        border-radius: 2px;
        background-color: var(--accent-text-color);

        opacity: 0;
        transition: opacity 250ms var(--timing-function);
    }
}

.navigation__link:hover::after,
.navigation__link:focus::after {
    opacity: 1;
}

.navigation__link--current {
    color: var(--accent-text-color);
    
        .navigation__link &::after {
            content: '';
            position: absolute;
    
            display: block;
            width: 100%;
            height: 4px;
            bottom: -1px;
            border-radius: 2px;
            background-color: var(--accent-text-color);
            opacity: 1;
    
        }
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.navigation__item:hover,
.navigation__item:focus {
    color: var(--accent-text-color);
}


.contacts__list {
    display: none;
    
    @include media(768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: auto;
    }

    @include media(1200px) {
        flex-direction: row;
        align-items: center;
    }
    
}

.contacts__item:not(:last-child) {
    margin-bottom: 10px;

    @include media(1200px) {
        margin-right: 50px;
        margin-bottom: 0;
    }
    
}

.contacts__link {
    @extend %align-list;
    @include font(500, null, 1.14, 0.02em);
    color: var(--secondary-text-color);

    transition: color 250ms var(--timing-function);
        &:hover,
        &:focus {
            color: var(--accent-text-color);
        }
}

.contacts__text {
    margin-left: 10px;
}

.contacts__icons {
    fill: currentColor;
}

.mob-menu__btn--open {
    border: none;
    padding: 0;
    margin-left: auto;
    background-color: var(--primary-bg-color);
    cursor: pointer;
    transition: fill 250ms var(--timing-function);
    
        &:hover,
        &:focus {
            fill: var(--accent-text-color);
        }

        @include media(768px) {
            display: none;
        }
}

.mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-bg-color);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    .container {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-left: 0;
    
    }

}

.mob-menu__btn--close {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    border: none;
    padding: 0;
    margin-left: auto;
    background-color: var(--primary-bg-color);
    cursor: pointer;
    transition: fill 250ms var(--timing-function);
        &:hover,
        &:focus {
            fill: var(--accent-text-color);
        }
}

.mob-menu__item, .mob-contacts__item {
&:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-menu__link {
    @include font(500, 40px, 1.18, 0.02em);
    text-align: center;
    color: var(--primary-text-color);
    
    &--current {
            color: var(--accent-text-color);
        }
}

.mob-contacts__list {
    margin-bottom: 64px;
    
}

.mob-contacts__link--tel {
    @include font(500, 40px, null, null);
    color: var(--accent-text-color);
}

.mob-contacts__link--mail {
    @include font(500, 24px, 1.17, null);
    color: var(--secondary-text-color);
}

.mob-social__list {
    display: flex;
    flex-wrap: wrap;

}

.mob-social__item {
    &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
    &:not(:first-child) {
        padding-left: 10px;
        }
}

.mob-social__link {
    @include font(500, 18px, 1.22, null);
    color: var(--accent-text-color);
}

.no-scroll {
    overflow: hidden;
}