.logo {
    display: block;
    text-align: center;
    font-family: 'Raleway';
    @include font (700, 24px, 1.17, null);
    color: var(--accent-text-color);
    

    &--dark-part {
            color: var(--header-logo-color);
        }
    &--light-part {
            color: var(--footer-logo-color);
        }

    @include media(1200px) {
        @include font (null, 26px, 1.19, null);
        text-align: start;
    }
}
