:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196F3;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #F5F4FA;
    --accent-bg-color: #2F303A;
    --header-logo-color: #000000;
    --footer-logo-color: #ffffff;
    --footer-address-color: #ffffff;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --btn-text-color: #ffffff;
    --hero-title-text-color: #FFFFFF;
    --icons-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}